{% extends "base_generic.html" %}

{% block content %}
  <h1>Livros</h1>
  {% if lista_livros %}
  <table border="1" width="400">
      {% for livro in lista_livros %}
      <tr>
        <td><a href="{{ livro.id }}/atualizar/">{{ livro.id }}</a></td>
        <td width="200" height="70">{{ livro.nome }} <em>Preço: {{ livro.preco }}</em></td>
        <td><a href="{{ livro.id }}/delete/">delete</a></td>
      </tr>
      {% endfor %}
  </table>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}
{% endblock %}